node_modules
.terraform

# TODO: Work out a more permanent solution for this
# This wont work if we ever want to run this Terraforming in CI on Github
terraform.tfstate
terraform.tfstate.*

dist

# stryker temp files
.stryker-tmp
reports